{# src/Tenrah/TNETBundle/Resources/views/draw/index.html.twig #}

{% extends "TenrahTNETBundle::base.html.twig" %}

{% block title %}{{ parent() }} | Index{% endblock %}
{% block body %}
    <div class="tn-container">
        <h1>Draw</h1>
    </div>
    <div class="row row-index">
        <a href="{{ path('tenrahnet_homepage') }}" class="link-unstlyed">
            <button class="btn btn-index" id="btn-home">
                <span class="glyphicon glyphicon-pencil btn-index-icon"></span></br>home
            </button></a>
    </div>
{% endblock %}
