<h2 id="blewUp" class="pl-app-title">CLICKER !</h2>
<span id="pl-app-description">Spam as fast as you can</span>
<div id="pl-app-select">
    <div class="row row-grew">
        <div class="div-grew">
            <button id="pl-app-join" class="btn btn-app btn-grew">Join</button>
        </div>
        <div class="div-grew">
            <button id="pl-app-create" class="btn btn-app btn-grew">Create</button>
        </div>
    </div>
</div>
